@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
  text-decoration: 0;
}

* {
  margin: 0;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* link element that do not have a class got the default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make images easier to work with */
img, 
picture, 
video, 
canvas, 
svg {
  display: block;
  max-width: 100%;
  line-height: 0;
}

 /* inherit fonts for input and buttons */
input, 
button, 
textarea, 
select {
  font: inherit;
}

/* prevent the text overflow */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} 

/* remove all the list style */
ul, ol, li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

/* reset the button properties */
button {
  all: unset;
  cursor: pointer;
}

/* color */
:root {
  /* primary */
  --cyan-1: hsla(179, 62%, 43%, 1);
  --cyan-2: hsla(179, 48%, 52%, 1);
  --cyan-3: hsla(179, 48%, 72%, 1);
  --green: hsla(71, 73%, 54%, 1);
  /* neutral */
  --gray: hsla(218, 22%, 67%, 1);
  --light-gray: hsla(204, 43%, 93%, 1);
  --white: hsla(218, 3%, 99%, 1);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeSpeed;
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
}

/* typography */
h1,
h1 span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.0187rem;
  color: var(--cyan-1);
  padding-bottom: 1.5rem;
}

h2,
h2 span {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.0141rem;
  color: var(--green);
  padding-bottom: 0.625rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.0141rem;
  color: var(--white);
  padding-bottom: 1.125rem;
}

p,
.box-2 p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
}

p {
  color: var(--gray);
}

.box-2 p {
  color: var(--white);
  padding-bottom: 2.5rem;
}

/* new html page */
.line-over {
  text-transform: uppercase;
  color: rgb(69, 103, 255);
  text-decoration: line-through;
}

strong {
  font-weight: 700;
  color: rgb(69, 103, 255);
}

.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3125rem;
  letter-spacing: -0.025rem;
  color: var(--white);
  padding-bottom: 0.25rem;
}

.price span {
  font-size: 1rem;
}

li, ul span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.0109rem;
  color: var(--white);
}

ul span {
  opacity: 75%;
  padding-left: 0.25rem;
}

ul span:hover {
  color: var(--green);
  opacity: initial;
}

/* *** */

.container,
.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 39.6875rem;
  box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  margin: 2.5rem 2rem;
}

.container-2, 
.container-2 ul li,
.container-2 .btn-2 {
  filter: hue-rotate(240deg);
} 

.btn,
.btn-2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: -0.0125rem;
  padding: 1rem 2rem;
  background-color: var(--green);
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--green);
  transition: ease 0.3s;
}

.btn:hover, 
.btn-2:hover {
  background-color: hsla(71, 73%,54%, 0.01);
  border: 0.0625rem solid var(--green);
}

button {
  color: white;
}

.box-1 {
  background-color: var(--white);
  grid-column: span 2;
  border-radius: 0.5rem 0.5rem 0 0;
}

.box-2 {
  background-color: var(--cyan-1);
  border-radius: 0 0 0 0.5rem;
}

.box-3 {
  background-color: var(--cyan-2);
  border-radius: 0 0 0.5rem 0;
}

.box-1,
.box-2,
.box-3 {
  padding: 2.5rem;
}


/* mobile */
@media(max-width: 38.75rem) {
  .container,
  .container-2 {
    grid-template-columns: 1fr;
  }

  .box-1 {
    grid-column: span 1;
  }

  .box-2 {
    border-radius: 0rem;
  }

  .box-3 {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .box-2 p {
    padding-bottom: 1.875rem;
  }

  .box-1,
  .box-2,
  .box-3 {
    padding: 2rem 1.5rem;
  }
}

@media(max-width: 18.75rem) {
  .btn,
  .btn-2 {
    display: flex;
    font-size: 12.8px;
    padding: 0.5rem 0.75rem;
  }
}



